@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;1,200;1,300;1,400;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

:root {
    --cor01: #D8D9D7;
    --cor02: #595952;
    --cor03: #D9831A;
    --cor04: #A64F03;
    --cor05: ;

    --fonte-padrao: 'Source Sans Pro', Verdana, Geneva, Tahoma, sans-serif;
    --fonte-destaque: 'Ubuntu', 'Times New Roman', Times, serif;
    --fonte-citação: 'Share Tech Mono', monospace;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: white;
}

nav {
    background-color: rgba(255, 255, 255, 0.782);
    text-align: center;
    border: 0.5px solid rgba(0, 0, 0, 0.336);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.356);
    padding: 15px;
}

nav > a {
    color: var(--cor02);
    font-family: 'Ubuntu', Arial, Helvetica, sans-serif;
    font-weight: 600;
    padding: 10px;
    margin: 0px 6px 0px 6px;
    border-radius: 10px;

}

nav > a:hover {
    color: white;
    background-color: var(--cor02);
    text-decoration: none;
    transition-duration: 0.5s;
}

section {
    height: 98vh;
}

.intro {
    height: 93vh;
    background-color: lightgray;
    background: url('../imagens/arvores-preto-branco-pc.jpg') center center fixed;
    background-size: cover;
}

.cave {
    background-color: lightgray;
    background: url('../imagens/field-pc.jpg') bottom center fixed;
    background-size: cover;
}

.intro, .cave {
    box-shadow: inset 0px -2px 2px rgba(0, 0, 0, 0.352);
}

.main-container  {
    padding: 20vh 2vh;
    min-width: 280px;
    max-width: 1500px;
    margin: auto;
}

h1, h2 {
    font-family: var(--fonte-destaque);
    color: var(--cor05);
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.267);

}

h1 {
    font-size: 1.9em;
}

div#intro > h1 {
    text-align: center;
    margin-bottom: 2em;
}

h2 {
    font-size: 1.6em;
}

div#cave h2 {
    color: white;
}

h1 > br {
    display: none;
}

p {
    font-family: var(--fonte-padrao);
    font-weight: 400;
    font-size: 1.3em;
    line-height: 1.6em;
    letter-spacing: 1px;
    padding: 20px 0px 50px 0px;
}

main p {
    text-align: justify;
    text-indent: 30px;
}

div#intro p {
    margin: auto;
    max-width: 1000px;
    color: white;
    background-color: rgba(0, 0, 0, 0.52);
    padding: 20px 40px;
    border-bottom: 1px solid var(--cor04);
}

div#cave p {
    color: white;
}


div#uncov_real p {
    padding-bottom: 10px;
}

.main-container p {
    max-width: 800px;
}

a {
    font-weight: 600;
    color: var(--cor03);
    text-decoration: none;
}

main a {
    color: var(--cor02);
    background-color: var(--cor01);
    padding: 1px 6px;
}

a:hover {
    color: var(--cor04);
    text-decoration: underline;
}

strong {
    font-weight: bolder;
    color: var(--cor03);
}

.main-container div {
    margin: 2em;
}

.main-text {
    padding: 0;
    width: 50%;
}

div#cave .main-text {
    background-color: rgba(0, 0, 0, 0.60);
    padding: 2em;
    border-radius: 15px;
}

blockquote {
    position: absolute;
    font-family: var(--fonte-citação);
    font-size: 1.2em;
    font-style: italic;
    text-align: center;
    width: 100%;
    height: fit-content;
    padding: 10px;
    margin: auto;

    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

div#cave blockquote {
    color: rgba(255, 255, 255, 0.835);
}

div#cit_cave2 {
    display: none;
}

main abbr {
    text-decoration: none;
}

div#illusion, div#cave, div#uncov_real {
    display: flex;
}

.citacao {
    position: relative;
    margin: 2em;
    width: 50%;
}

footer {
    background-color: var(--cor02);
    margin-top: 20em;
}

.footer-elements { 
    display: flex;
    justify-content: space-evenly;
    padding: 1em;
}

.footer-links a {
    color: var(--cor03);
    display: block;
    padding: 8px;
    font-family: 'Source Sans Pro', Verdana, Geneva, Tahoma, sans-serif;
}

.footer-links a:hover {
    color: white;
}

footer p#autoria {
    color: #D8D9D7;
    background-color: black;
    margin: 0px;
    padding: 4px;
    font-size: 0.7em;
    text-align: center;
}








@media screen and (max-width: 840px) {
    section, .intro{
        height: auto;
    }

    section {
        padding: 7vh 2vh;
    }

    div#illusion, div#cave, div#uncov_real {
        display: block;
    }

    .main-container div {
        margin: 0;
    }

    .main-text {
        width: 97%;
    }

    div#cave .main-text {
        padding: 10px;
    }

    .citacao {
        width: 100%;
        margin: 0px;
    }

    .main-container blockquote {
        margin-top: 40px;
        position: relative;
        width: 80%;
        transform: translate(0);
        left: 0px;
        top: 0px;
    }

    div#cit_cave1 {
        display: none;
    }

    div#cit_cave2 {
        display: block;
    }

    div#intro, p {
        padding: 10px;
    }

}







@media screen and (max-width: 500px) {
    section, .intro{
        height: auto;
    }
    section {
        padding: 7vh 0vh;
        margin-bottom: 7em;
    }

    .intro, .cave {
        background-attachment: local;
    }

    .intro {
        background-position: top center;
    }


    .main-container{
        margin: 0px;
        padding: 0px;
    }

    .main-container div {
        margin: auto;
    }
    
    div#cave .main-text {
        padding: 0px;
        width: 100%;
        background-color: transparent;
    }

    blockquote {
        border-bottom: 1px solid var(--cor04);
        font-family: var(--fonte-padrao);
        font-size: 1em;
    }

    div#cave blockquote {
        background-color: transparent;
    }

    h1 {
        padding: 0px 5px;
        font-size: 1.6em;
    }

    h1, h2, h2 {
        text-align: center;
        margin-bottom: 1.7em;
    }

    div#cave h2 {
        color: white;
    }

    .h-destaque {
        border-bottom: 3px solid var(--cor04);
    }

    h1 > br {
        display: initial;
    }

    p {
        font-size: 1.1em;
    }

    div#intro p, div#cave p {
        padding: 20px 10px;
        background-color: rgba(0, 0, 0, 0.261);
    }

    div#intro p {
        border: none;
    }

    div#cave p {
        box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.39);
    }

    div#intro  {
        padding: 0px;
    }

    nav a {
        margin: 0px;
    }

    .footer-links a {
        font-size: 0.9em;
    }
    
    .footer-elements img {
        height: 100px;
        width: 100x
    }
}