@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;1,200;1,300;1,400;1,600;1,700&display=swap');

:root {
    --cor01: #D8D9D7;
    --cor02: #595952;
    --cor03: #D9831A;
    --cor04: #A64F03;
    --cor05: #F24405;
}

* {
    margin: 0px;
    padding: 0px;
}

header {
    margin-bottom: 7em;
}

nav {
    text-align: center;
    padding: 15px;
    border: 0.5px solid rgba(0, 0, 0, 0.336);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.356);
}

nav > a {
    color: #595952;
    font-family: 'Ubuntu', Arial, Helvetica, sans-serif;
    font-weight: 500;
    margin: 0px 6px 0px 6px;

}

main {
    padding: 4%;
}

h1, h2, h3 {
    font-family: 'Ubuntu', 'Times New Roman', Times, serif;
    color: #F24405;

}

h1 {
    font-size: 1.7em;
}

.intro > h1 {
    text-align: center;
}

h2 {
    font-size: 1.6em;
}

p {
    font-family: 'Source Sans Pro', Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 400;
    font-size: 1.3em;
    line-height: 1.20em;
    letter-spacing: 1px;
    padding: 20px 0px 50px 0px;
}

a {
    font-weight: 600;
    color: #D9831A;
    text-decoration: none;
}

a:hover {
    color: #A64F03;
    text-decoration: underline;
}

strong {
    font-weight: 600;
    color: #595952;
}

main p {
    text-align: justify;
}

section {
    padding-bottom: 7em;
}

section p {
    max-width: 800px;
}

section blockquote {
    font-size: 1.2em;
    font-style: italic;
    max-width: 800px;
    margin: 2em;
}

section div {
    margin: 2em;
}

.illusion, .cave, .uncov_real {
    display: flex;
}

.intro p {
    margin: auto;
    max-width: 1000px;
}
.intro img {
    display: block;
    max-width: 900px;
    margin: auto;
}

.main-text {
    padding: 0px;
}